*{
    padding: 0;
    margin: 0;
    
}

.mune-bar{
    background: rgb(31, 49, 35);
    text-align: ;
    height: 50px;
    
    
}
.mune-bar ul {
    display: inline-flex;
    list-style: none;
}
.mune-bar ul li{
    
    margin: 15px;
    padding: 1px;
     
}

.mune-bar ul li a:hover{
    text-decoration: none;
  

    color: white;
    
}
.flag-icons{
    color: white;

}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    
}
.styled-table thead tr {
    background-color: #1bcaa7;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
